* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body {
  background-color: gray;
}
.container {
  background-color: #fff;
}
/*Header*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

h1 {
  align-items: center;
  color: #bf5b04;
  font-family: "Lemonada", cursive;
  font-size: 1.4rem;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 1rem 0;
  margin: 2px;
}

a {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
}
.logo {
  text-align: center;
  align-items: center;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0;
  font-size: 1.3rem;
  color: #bf5b04;
}

.img-bg {
  /* display: block; */
  width: 100%;
}
article {
  padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
}
article p {
  margin-top: 1rem;
}
section {
  display: none;
}
.list-deserts {
  margin-bottom: 23px;
}
.galarie {
  margin-bottom: 23px;
}

/*footer*/

footer {
  border-top: 1px #f2f2f2;
  padding: 2rem;
  text-align: center;
}

/* ------------(tablet)-------------------*/
@media screen and (min-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    text-align: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  ul li {
    display: block;
    width: 33%;
    padding: 1rem 0;
  }
  section {
    display: flex;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    justify-content: space-between;
    padding: 1.3rem;
  }
  .list-deserts h3 {
    margin-left: 3.3rem;
    border-bottom: 1px solid #f2f2f2;
  }
  .list-deserts ol {
    margin-left: 3.2rem;
  }

  section h3 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .galarie {
    width: 47%;
  }
}
/* -----------------(pc)---------------*/
@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
  /* main*/

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #f2f2f2;
  }
  .logo {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 50%;
  }

  h1 {
    margin: 2rem;
    white-space: nowrap;
  }
  nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  article {
    width: 60%;
  }
  section {
    display: inline;
    width: 30%;
    height: 800px; /* donne une hauteur présice/*
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 0;
    margin: 0;
  }
  .list-deserts {
    padding-bottom: 2rem;
  }
  .galarie {
    width: 90%;
    margin-left: 2rem;
  }
}
