* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*Header*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

header,
h1 {
  align-items: center;
  color: #bf5b04;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
}

a {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 25px;
}
.logo {
  text-align: center;
  align-items: center;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
}

h1 {
  /* display: block; */
  margin-bottom: 30px;
}

.img-bg {
  /* display: block; */
  width: 80%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin-bottom: 23px;
}

/*footer*/

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------(tablet)-------------------*/
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    text-align: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  ul li {
    white-space: nowrap;
  }
  section {
    width: 100%;
    border-top: dotted 1px;
    border-bottom: solid 1px;
  }

  .galarie {
    width: 50%;
  }
  article  {
    width: 77%;
  }
}
/* -----------------(pc)---------------*/
@media screen and (min-width: 1024px) {
  /* main*/
  header {
    display: flex;
    flex-direction: row;
    padding: 0 auto;
  }

  h1 {
    margin: 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  article {
    width: 40%;
  }
}
